.App-header {
  background-color: #3c5763; /*#282c34*/ /* #213943*/
  height: 314px; /*250*/
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position: absolute;
  max-width: 100%;
  width: 100%;
  z-index: -1;
  top: 0;
  padding-top: 75px;
}

.card-wrapper {
   margin-top: 120px !important;
   max-width: 1000px;
}
.card-wrapper h5 {
   margin: 1.1rem 0;
}

#history-wrapper {
   padding: 20px;
}

#editor-wrapper {
   padding: 20px;
}

.action-message {
   text-align: center;
   padding: 20px 0;
}

.action-message h5 {
   margin-bottom: 1.52rem;
}

.input-title {
   font-size: 17px;
   font-weight: bold;
   display: flex;
   align-items: center;
   margin: 5px 0;
}

.input-date-picker {
   position: absolute;
   right: 10px;
   bottom: 15px;
   cursor: pointer;
   user-select: none;
}

.input-date-picker:hover {
   color: #258c83;
}

.range-helper {
   display: flex;
   justify-content: space-between;
   margin: 0;
}

.table-link {
   display: inline-block;
   cursor: pointer;
   margin-right: 20px;
   padding: 5px;
   user-select: none;
}

.outside-wrapper {
   margin-bottom: 0;
}

.title-icon {
   margin-right: 5px;
   user-select: none;
}


.save-screen-wrapper pre {
   padding: 16px;
   overflow: auto;
   font-size: 85%;
   line-height: 1.45;
   background-color: #f6f8fa;
   border-radius: 3px;
}

.save-action {
   display: flex;
   justify-content: center;
   align-items: center;
}
.save-action a {
   margin: 0 10px;
   display: flex;
}

.save-action a i {
   margin-right: 5px;
}

.save-action span {
   font-size: 20px;
   font-weight: 100;
   margin: 0 5px;
}

#toast-container {
   top: auto !important;
   bottom: 10px !important;
}

.return-button {
   display: inline-flex;
   align-items: center;
   cursor: pointer;
   user-select: none;
   padding: 10px 0px;
   color: #888383;
}
.return-button i {
   margin-right: 5px;
   font-weight: bold;
}

/*test animation*/
.slideUp {
   animation-duration: 0.7s;
   animation-name: slideUp;
   /*transition: all 0.3ms*/
   overflow: hidden;
}

.fadeInDown {
   animation-duration: 1s;
   animation-name: fadeInDown;
   overflow: hidden;
}

.fadeIn {
   animation-duration: 1s;
   animation-name: fadeIn;
   overflow: hidden;
}


@keyframes slideUp {
   from {
      opacity: 0;
      -webkit-transform: translate3d(0, 30%, 0);
      transform: translate3d(0, 30%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
 }

 
@keyframes fadeInDown {
   from {
     opacity: 0;
     -webkit-transform: translate3d(0, -100%, 0);
     transform: translate3d(0, -100%, 0);
   }
 
   to {
     opacity: 1;
     -webkit-transform: translate3d(0, 0, 0);
     transform: translate3d(0, 0, 0);
   }
 }

 @keyframes fadeIn {
   from {
     opacity: 0;
   }
 
   to {
     opacity: 1;
   }
 }

 /*change tabs*/
 .tabs .tab a{
   color: grey;
} /*Black color to the text*/

.tabs .tab a:hover {
   background-color:#fff;
   color:#000;
} /*Text color on hover*/

.tabs .tab a.active {
   background-color:#fff;
   color:#000;
} /*Background and text color when a tab is active*/

.tabs .indicator {
   background-color:#2196f3   ;
} /*Color of underline*/

.tabs .tab a:focus.active {
   color: #000;
   /*Custom Text Color While Active*/
   background-color: #fff;
   /*Custom Background Color While Active*/
 }

 .tabs .tab a:focus {
   background-color: #fff;
 }


 .dummy-nav {
    width: auto;
    background: #f7f8fd;
 }

 .nav-content {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 64px;
 }

 .user-avatar {
   width: 40px;
   height: 40px;
   box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12), 0 1px 5px 0 rgba(0,0,0,.2);
   border-radius: 100px;
   overflow: hidden;
 }

 .user-avatar img {
    width: inherit;
    height: inherit;
 }

 .nav-user {
   display: flex;
   align-items: center;
 }

 .user-info {
   margin-right: 5px;
 }

 .user-info svg {
    display: block;
    padding: 3px;
    border-radius: 15px;
    fill: rgba(222, 222, 222, 1);
 }

 .user-info :last-child {
    float: right;
 }

 .nav-title {
   font-size: 22px;
   color: #646b77;
 }

 .date-helper {
    position: absolute !important;
    width: 100%;
    bottom: -15px;
 }

 .date-picker-wrapper {
    margin-bottom: 15px;
 }

 .continue-header {
   text-align: center;
   font-weight: 100;
   font-size: 23px;
 }

/*saved preview*/
.syntax-new-line {
   margin-left: 10px;
}

.syntax-key {
   color: #19a2e4;
}

.syntax-string {
   color: #e87805;
}

.syntax-number {
   color: #c12cc1;
}

.history-expand {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   width: 100%;
}

.history-expand span {
   margin-left: 20px;
}